body {
    padding-top: 5rem;
}

body {
    background-color: #f4f4f4;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.profile {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    overflow: hidden;
    padding-bottom: 5px;
}

.happy-coder {
    background-color: #1371fe;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.header {
    text-align: center;
    color: white;
    background-color: #1371fe;
    padding-bottom: .25%;
}
.content {
    padding: 10px;
    text-align: center;
}

.username, .location, .date-joined {
    margin: 2px 0;
}

.bio {
    margin: 5px 0;
    padding-bottom: 5px;
    color: gray;
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

.follow-btn {
    background-color: #1371fe;
    color: white;
    padding: 5px 40px;
    border: none;
    border-radius: 10px;
}

.follow-btn:hover {
    background-color: #4CAF50;
}